<template>
  <Scene/>
</template>

<script>
  import Scene from '../components/three/Scene.vue'

  export default {
    components: { Scene },
    name: 'threejs',
    layout: 'empty'
  }
</script>

<style scoped>

</style>
