<template>
  <div>
    <svg height="20" width="20" style="position: absolute;top: calc(50% - 10px);left: calc(50% - 10px);">
      <line x1="0" y1="10" x2="20" y2="10" style="stroke: rgb(100,100,100); stroke-width: 2;"></line>
      <line x1="10" y1="0" x2="10" y2="20" style="stroke: rgb(100,100,100); stroke-width: 2;"></line>
    </svg>
    <div class="inventory">
      <div v-for=" i in [0,1,2,3,4,5,6,7,8]" :id="'inv-'+ i" class="inventory-slot"
           :style="[{left: (i * 100)+ 'px'},{float: 'left'}]">
        <div>
          <div/>
        </div>
      </div>
    </div>
    <div class="info">
      <p>use WSAD to move</p>
      <p>space to jump</p>
      <p>LMB to break a block</p>
      <p>RMB to place a block</p>
      <p>F to lock pointer into game</p>
      <p>1 - 9 to select hotbar slot</p>
    </div>
    <div class="scene" ref="scene"/>
  </div>
</template>

<script lang="ts">
  import * as THREE from 'three'
  import { Mesh } from 'three'
  import Stats from 'three/examples/jsm/libs/stats.module'
  import { Component, Vue } from 'vue-property-decorator'
  import { Chunk, generateWorld } from '~/three/helpers/worldGen/generateWorld'
  import { BlockGeometry, generateBufferGeometry, mapTextures } from '~/three/helpers/geometry/blockGroupMesher'
  import { flatten } from 'ramda'
  import { Player } from '~/three/helpers/controls/Player'
  import { MouseHandler } from '~/three/helpers/controls/MouseHandler'
  import { Sky } from '~/three/helpers/shaders/sky'

  @Component<Scene>({
    mounted() {
      var havePointerLock = 'pointerLockElement' in document || 'mozPointerLockElement' in document || 'webkitPointerLockElement' in document

      if (havePointerLock) {

        const el = this.$refs.scene as Element

        // Ask the browser to lock the pointer
        el.requestPointerLock()

        if (/Firefox/i.test(navigator.userAgent)) {

          var fullscreenchange = function() {

            if (document.fullscreenElement === el) {

              document.removeEventListener('fullscreenchange', fullscreenchange)
              document.removeEventListener('mozfullscreenchange', fullscreenchange)

              el.requestPointerLock()
            }

          }

          document.addEventListener('fullscreenchange', fullscreenchange, false)
          document.addEventListener('mozfullscreenchange', fullscreenchange, false)

          el.requestFullscreen()

        } else {

          el.requestPointerLock()
        }
      }

      const el = this.$refs.scene as Element
      this.camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 20000)
      this.camera.rotateX(-90)
      el.appendChild(this.renderer.domElement)

      const cameraMesh = new Mesh(
        new THREE.SphereGeometry(40),
        new THREE.MeshBasicMaterial({
          transparent: true,
          opacity: 0.0,
          wireframe: false,
        })
      )
      const boxMesh = new Mesh(
        new THREE.BoxGeometry(35, 200, 35),
        new THREE.MeshBasicMaterial({
          transparent: true,
          opacity: 0.0,
          wireframe: false,
        })
      )
      boxMesh.geometry.computeBoundingBox()
      cameraMesh.add(this.camera)
      cameraMesh.add(boxMesh)
      this.camera.position.y = 90
      cameraMesh.position.y = 65 * 100
      cameraMesh.geometry.computeBoundingSphere()
      cameraMesh.geometry.computeBoundingBox()
      this.scene.add(cameraMesh)
      this.cameraMesh = cameraMesh
      console.time('generateWorld')
      const chunks = generateWorld(100, 100)
      console.timeEnd('generateWorld')
      console.time('generateBufferGeometry')
      this.world = chunks
      const bufferGeometry = generateBufferGeometry(chunks, [0, 1, 2, 3, 4, 5, 6], [0, 1, 2, 3, 4, 5, 6])
      console.timeEnd('generateBufferGeometry')
      // for (let i = 0; i < bufferGeometry['GRASS'].colliders.length; i++) {
      //   var box = new THREE.Box3Helper( bufferGeometry['GRASS'].colliders[i], 0xffff00 );
      //  this.scene.add(box);
      // }
      console.time('mapTextures')
      const meshes = mapTextures(bufferGeometry)
      console.timeEnd('mapTextures')
      // @ts-ignore
      this.scene.add(...flatten(meshes))
      this.blocks = bufferGeometry
      this.meshes = meshes
      const ambientLight = new THREE.AmbientLight(0xcccccc)
      this.scene.add(ambientLight)
      const directionalLight = new THREE.DirectionalLight(0xffffff, 2)
      directionalLight.position.set(1, 1, 0.5).normalize()
      this.scene.add(directionalLight)

      // Add Sky
      // @ts-ignore
      const sky = new Sky()
      sky.scale.setScalar(450000)
      this.scene.add(sky)
      sky.material.uniforms['turbidity'].value = 10
      sky.material.uniforms['rayleigh'].value = 2
      sky.material.uniforms['mieCoefficient'].value = 0.005
      sky.material.uniforms['mieDirectionalG'].value = 0.8
      sky.material.uniforms['luminance'].value = 1

      // Add Sun Helper
      const sunSphere = new THREE.Mesh(
        new THREE.SphereBufferGeometry(20000, 16, 8),
        new THREE.MeshBasicMaterial({ color: 0xffffff })
      )
      const distance = 400000
      const theta = Math.PI * (this.inclination - 0.5)
      const phi = 2 * Math.PI * (this.azimuth - 0.5)

      sunSphere.position.x = distance * Math.cos(phi)
      sunSphere.position.y = distance * Math.sin(phi) * Math.sin(theta)
      sunSphere.position.z = distance * Math.sin(phi) * Math.cos(theta)
      sky.material.uniforms['sunPosition'].value.copy(sunSphere.position)
      this.scene.add(sunSphere)


      this.player = Player(this.camera, cameraMesh, boxMesh)

      el.appendChild(this.stats.dom)
      const animate = () => {
        render()
        requestAnimationFrame(animate)
        this.stats.update()
      }
      const onWindowResize = () => {

        this.camera.aspect = window.innerWidth / window.innerHeight
        this.camera.updateProjectionMatrix()
        // @ts-ignore
        el.style.width = `${window.innerWidth}px`
        // @ts-ignore
        el.style.height = `${window.innerHeight}px`
        this.renderer.setSize(window.innerWidth, window.innerHeight)

      }
      window.addEventListener('resize', onWindowResize, false)

      this.mouseHandler = new MouseHandler(this)

      const render = () => {
        const delta = this.clock.getDelta()
        this.mouseHandler.update(delta)
        this.player.update(delta, this.blocks)
        this.renderer.render(this.scene, this.camera)
        this.inclination += delta / 100
        if (this.inclination > 1) {
          this.inclination = -0.55
        }
        ambientLight.intensity = Math.max(0.8 - this.inclination, 0.4)
        directionalLight.intensity = Math.max(0.8 - this.inclination, 0.3)
        const theta = Math.PI * (this.inclination - 0.5)
        const phi = 2 * Math.PI * (this.azimuth - 0.5)

        sunSphere.position.x = distance * Math.cos(phi)
        sunSphere.position.y = distance * Math.sin(phi) * Math.sin(theta)
        sunSphere.position.z = distance * Math.sin(phi) * Math.cos(theta)
        sky.material.uniforms['sunPosition'].value.copy(sunSphere.position)
        directionalLight.position.copy(sunSphere.position).normalize()
      }

      onWindowResize()
      animate()
    }
  })

  export default class Scene extends Vue {
    camera!: THREE.PerspectiveCamera
    renderer: THREE.WebGLRenderer = new THREE.WebGLRenderer()
    scene: THREE.Scene = new THREE.Scene()
    player!: Player
    stats: Stats = Stats()
    clock: THREE.Clock = new THREE.Clock()
    raycaster: THREE.Raycaster = new THREE.Raycaster()
    blocks!: Map<string, BlockGeometry>[][]
    mouseHandler!: MouseHandler
    meshes: any
    cameraMesh: any
    world!: Chunk[][]
    inclination: number = -0.5
    azimuth: number = 0.25
  }

</script>

<style scoped>
  .inventory {
    position: absolute;
    bottom: 0;
    min-height: 100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .inventory-slot {
    width: calc((100% / 10));
    height: 100px;
    width: 100px;
    background-color: #a2a3a8;
    margin-right: 5px;
  }

  .info{
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    margin: 20px;
    color: white;
  }

  .inventory-slot > div {
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: #7F828B;
  }
  .inventory-slot > div > div{
    margin: 10%;
    height: 80%;
    width: 80%;
    background-size: cover;
    display: inline-block;
  }
  #inv-0 > div > div{
    background-image: url('/three/textures/hackAndCraft/atlas.png');
    background-repeat: no-repeat;
  }
  #inv-1 > div > div{
    background-image: url('/three/textures/hackAndCraft/stone.png');
    background-repeat: no-repeat;
  }
  #inv-2 > div > div{
    background-image: url('/three/textures/hackAndCraft/stone_diorite.png');
    background-repeat: no-repeat;
  }
  #inv-3 > div > div{
    background-image: url('/three/textures/hackAndCraft/bedrock.png');
    background-repeat: no-repeat;
  }
  #inv-4 > div > div{
    background-image: url('/three/textures/hackAndCraft/wool_colored_yellow.png');
    background-repeat: no-repeat;
  }
  #inv-5 > div > div{
    background-image: url('/three/textures/hackAndCraft/diamond_ore.png');
    background-repeat: no-repeat;
  }
  #inv-6 > div > div{
    background-image: url('/three/textures/hackAndCraft/gold_block.png');
    background-repeat: no-repeat;
  }
  #inv-7 > div > div{
    background-image: url('/three/textures/hackAndCraft/lapis_block.png');
    background-repeat: no-repeat;
  }
  #inv-8 > div > div{
    background-image: url('/three/textures/hackAndCraft/hardened_clay_stained_red.png');
    background-repeat: no-repeat;
  }
</style>
